html {
   scroll-behavior: smooth !important;
}

/* fix ie10 and above */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .hero-body,.hero-head,.hero-footer, section {
      display: block !important;
   }
}


.main {
   /* make sure to cover the screen */
   min-height: 100vh;
   /* put on top */
   position: relative;
   z-index: 1;
   background-color: $light;
}

.footer {
   position: -webkit-sticky;
   position: sticky;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -999;
}

ul {
   list-style-type: circle;
}

.blockquote {
   position: relative;
   padding-left: 1em;
   border-left: 0.2em solid $grey-lighter;
   &:before, &:after {
      content: '\201C';
      font-family: "Sanchez","Open Sans","Trebuchet MS",Arial,Helvetica,sans-serif;
      color: $grey-lighter;
      font-size: $size-4;
   }
   &:after {
      content: '\201D';
   }
}

/* pre[data-language]::after {
   background-color: $grey-lighter;
   content: '.' attr(data-language);
   padding: 0.5rem;
   position: absolute;
   left: 0;   
   top: 0;
} */

.equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.equal-height .card-footer {
  margin-top: auto;
}

.card{
	border-radius: $radius;
}

.icon-rounded {
   border-radius: $radius-rounded;
   margin: -2rem auto 0 auto;
   font-size: 3rem;
   height: 4rem;
   width: 4rem;
   border: 1px solid $border;
}

.box-up {
   margin: -2.5rem auto 0 1.5rem;
}

.envelope {
   padding: 1em;
   border: 1em solid transparent;
   background: linear-gradient(white, white)
               padding-box,
               repeating-linear-gradient(-45deg,
               #f69ec4 0, #f69ec4 12.5%,
               transparent 0, transparent 25%,
               #7eb4e2 0, #7eb4e2 37.5%,
               transparent 0, transparent 50%)
               0 / 5em 5em;
}

@media only screen and (min-width: $tablet) {
 .article-up {
   margin: -9rem auto 0 auto;
 }
}

[class*="top-btn-"] {
   position: fixed;
   left: 1.5rem;
   z-index: 999;
   background-color: $info !important;
   border-radius: 100% !important;
   height: 4rem;
   width: 4rem;
 }

.top-btn-scroll {
   bottom: 2rem;
   background-color: $info !important;
}

.top-btn-print {
   bottom: 7rem;
   background-color: $danger !important;
}

// resolve conflict between bulma and prism
.number {
   background-color: transparent !important;
   display: inline !important;
   font-size: 1rem !important;
   margin: 0 !important;
   padding: 0 !important;
}

 /* input:invalid {
   box-shadow: 0 0 5px 1px $danger;
 }
 
 input:focus:invalid {
   outline: none;
 } */

 /*
   http://www.heropatterns.com
   background #48c774
   foreground #246039
 */
.article-bg-one {
   background-color: $success;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23246039' fill-opacity='0.26' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.article-bg-two {
   background-color: $success;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23246039' fill-opacity='0.26'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.article-bg-tree {
   background-color: $success;
   background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23246039' fill-opacity='0.26' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.article-bg-four {
   background-color: $success;
   background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23246039' fill-opacity='0.26' fill-rule='evenodd'/%3E%3C/svg%3E");
}

[data-mode="dark"] {
   .box {
      background-color: $grey-light !important;
   }
   .main {
      background-color: $grey !important;
   }
   .envelope {
      padding: 1em;
      border: 1em solid transparent;
      background: linear-gradient(black, black)
                  padding-box,
                  repeating-linear-gradient(-45deg,
                  #f69ec4 0, #f69ec4 12.5%,
                  transparent 0, transparent 25%,
                  #7eb4e2 0, #7eb4e2 37.5%,
                  transparent 0, transparent 50%)
                  0 / 5em 5em;
   }
}